<html>
	<head>
		<meta charset="UTF-8" />
		<!-- <title>{title}</title> -->
	</head>
	<body>
		<!-- <h1>{title}</h1> -->
		<h1>Search player</h1>
		<input
			type="text"
			id="summonerNameInput"
			placeholder="Nombre del jugador"
		/>
		<button id="searchSummoner">search</button>
		<br />
		<h2 id="summonerName">Name: Unknown</h2>
		<h2 id="summonerTag">Tag: Unknown</h2>
		<h2 id="summonerPUUID">PUUID: Unknown</h2>
		<br />
		<button id="checkRecentWinrate">Check recent winrate</button>
		<button id="checkMostPlayedChampions"
			>Check most played champions</button
		>
		<button id="checkProfile">Check profile</button>
		<script>
			const summonerNameInput = document.getElementById(
				"summonerNameInput",
			) as HTMLInputElement;

			const summonerName = document.getElementById("summonerName");
			const summonerTag = document.getElementById("summonerTag");
			const summonerPUUID = document.getElementById("summonerPUUID");

			if (summonerName)
				summonerName.textContent =
					"Name: " + localStorage.getItem("summonerName");

			if (summonerTag)
				summonerTag.textContent =
					"Tag: " + localStorage.getItem("summonerTag");

			if (summonerPUUID)
				summonerPUUID.textContent =
					"PUUID: " + localStorage.getItem("summonerPUUID");

			const searchSummonerBtn = document.getElementById("searchSummoner");
			const checkRecentWinrateBtn = document
				.getElementById("checkRecentWinrate")
				?.addEventListener("click", () => {
					window.location.href = "/Winrate";
				});
			const checkMostPlayerChampionsBtn = document
				.getElementById("checkMostPlayedChampions")
				?.addEventListener("click", () => {
					window.location.href = "/ChampionsInfo";
				});
			const checkProfile = document.getElementById("checkProfile");

			async function SearchPlayer() {
				const fullId = summonerNameInput.value;
				const [name, tag] = fullId.split("#");

				if (!name || !tag) {
					alert(
						"Por favor ingresa tu Riot ID en el formato Nombre#Tag (ej: MiNombre#LAS)",
					);
					return;
				}

				const response = await fetch(
					`/api/player?name=${name}&tag=${tag}`,
				);
				if (response.ok) {
					const data = await response.json();
					if (summonerName) {
						summonerName.textContent = "Name: " + data.name;
						localStorage.setItem("summonerName", data.name);
					}
					if (summonerTag) {
						summonerTag.textContent = "Tag: " + data.tag;
						localStorage.setItem("summonerTag", data.tag);
					}
					if (summonerPUUID) {
						summonerPUUID.textContent = "PUUID: " + data.puuid;
						localStorage.setItem("summonerPUUID", data.puuid);
					}
					console.log("Datos desde el servidor de Astro:", data);
				} else alert("Something went wrong with the player fecth");
			}

			searchSummonerBtn?.addEventListener("click", SearchPlayer);
		</script>
	</body>
</html>
