<html>
	<head>
		<meta charset="UTF-8" />
		<!-- <title>{title}</title> -->
	</head>
	<body>
		<button id="comeBackToMain">Come back to main</button>
		<script>
			const comeBackToMainBtn = document
				.getElementById("comeBackToMain")
				?.addEventListener("click", () => {
					window.location.href = "/..";
				});
		</script>
	</body>
	<script></script>
</html>
